body {
	width: 100%;
	font-family: Calibri;
}

#container {
	width: 970px;
	
	margin: 0 auto;
}

#logo {
	background-color: #F8F8F8 ;
	height: 75px;
	width: 100%;
}
 #logo img {
 	display: inline-block;
 }

 .phonenumber {
	display: inline-block;
    text-align: right;
    line-height: 70px;
	font-weight: bold;
	width: 600px;
	margin-bottom: 0;
	vertical-align: top;
}

#menu {
	background-color: #E8E8E8 ;
	display: block;
	height: 75px;
}
#menu ul {
	list-style: none;
	margin-top: 0px;
	border-top: 1px solid gray;
}

#menu li {
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
	border-left: 1px solid gray;
	line-height: 25px;
}

#menu li:last-child {
	border-right: 1px solid gray;
}

#menu a {
	text-decoration: none;
	font-size: 12px;
	color: #808080;
	font-weight: bold;
}


#content {
	background-color: black;
	display: block;
	height: 700px
}

.mainpic {
	display: inline-block;
	border: 4px solid white;
}

#maincontent {
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 5px;
}


.lesscontent {
	background: gray;
	width: 55%;
	margin-left: 25px;
	display: inline-block;
	vertical-align: top;
	height: 262px;
}

.maintext {
	background-color: yellow;
	color: black;
	display: inline-block;
	vertical-align: top;
	margin:0;
	width: 100%;
	text-align: left;
}



.title {
	color: white;
	display: inline-block;
	margin: 10px;
}

.lesstext {
	color:white;
	font-size: 13px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px
}

span {
	font-weight: bold;
}

.smallcontent {
	display: inline-block;
	background-color: white;
	width: 22.9%;
	height: 300px;
	border: 1px solid black;
	margin-left: 10px;
}

.automotive {
	width: 100%;
	border-top: 1px solid black;
}
.smalltext {
	width: 100%;
}

.lesslesstext {
	display: inline-block;
	color: black;
	margin-left: 1px;
}
.readmore {
	text-decoration: none;
   	text-align: center;
   	background-color: yellow;
   	color: black;
   	border: 1px solid black;
   	border-radius: 8px;
   	padding: 5px 1px;
   	font-size: 12px;
   	display: inline-block;
   	width: 40%;
   	margin-left:55%;

}

.industrial {
	height: 102px;
}
.one {
	height: 103px;
}